<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>pwnwriter's place</title>
    {% endif %}
    <meta name="description" content="Nabeen's place">
    <meta name="author" content="pwnwriter">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/pix/brainfuck.ico">
  </head>
  <body>
    <header>
      <h1>Nabeen <span>Tiwaree</span></h1>
      <nav>
        <span><a href="/">[ Roof ]</a></span>
        <span><a href="/software">[ software ]</a></span>
        <span><a href="/blog">[ Blog ]</a></span>
        <span><a href="/contact">[ Contact ]</a></span>
        </div>
        <pre>
    </pre>
    <main>
    </header>
    <hr/>
     {% block content %}{% endblock %}
    </main>
    <hr>
    <aside>
      <section id="grunge">
      </section>
    </aside>
    <footer>
      <nav>
        </a>
      </nav>
      <span>
          <a href="https://pwnwriter.xyz">pwnwriter</a> (C) 2022, All rights reserved.<br>
          <br>
  The registered trademark Linux(R) is used pursuant to a sublicense from the
  Linux Foundation, the exclusive licensee of Linus Torvalds, owner of the mark
  on a world­wide basis.
      </span>
    </footer>
  </body>
  <script src="/elasticlunr.min.js"></script>
  <script src="/js/search.js"></script>
  <script src="/js/script.js"></script>
</html>
