{% extends "base.html" %}
{% block content %}
<div class="container">
    </div>
    <p>
    Achtung!
    <br> 
    <br>
      Hello Friend,
      I am Nabeen Tiwaree, 
      An 18y/o Nepalese teen who loves Maths, Linux and openBSD. I'm the creator of 
      <a href="https://metislinux.org">Metis Linux</a>
      <i>And I hack things to make them secure</i>.
      <p> <center>
       <blockquote>                                                   
           "I hacked the vibrations of the universe and <br>
           it chastised matching my frequencies <br>
           with the frequencies of the reality I wanted."                              
           <center>                                    
  </blockquote>
    </p> </article>
    <br><br>
    <body>
{% endblock content %}
